/* Import locally saved Google Fonts */


/* @import url("https://fonts.googleapis.com/css2?family=Delius:wght@300;400;600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@200;300;400&display=swap"); */

/* delius-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local("Delius"), url('fonts/delius-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* balsamiq-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Balsamiq sans") url('fonts/balsamiq-sans-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* balsamiq-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Balsamiq sans italic")  url('fonts/balsamiq-sans-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* balsamiq-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Balsamiq sans bold") url('/fonts/balsamiq-sans-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* balsamiq-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Balsamiq sans bold italic") url('../fonts/balsamiq-sans-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* General content styles */

body,
h2,
h3,
p,
div,
ul,
li {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 102% !important;
}

h1,
title,
h2 {
  text-align: center !important;
  font-family: "Delius" !important;
  font-weight: 400 !important;
}

h2, 
h3 {
  text-align: center !important;
  font-family: "Balsamiq Sans", sans-serif !important;
  font-weight: normal !important;
}

h1 a,
h2 a {
   display: none !important;
}

/*  Streamlit header */
header{
   background-color: #00000000 !important;
}

/* General alert container styles */

details .stAlert {
  font-size: 80% !important;
}

.stAlertContainer {
  font-size: 90% !important;
  text-align: center !important;
  padding: 0.4rem 0.75rem !important;
}

details .stAlert .stAlertContainer {
  text-align: left !important;
}

div[data-testid="stAlertContainer"]:has([data-testid="stAlertContentError"]) {
	background-color: rgba(255, 27, 155, 0.12) !important;
   color: white !important;
}

div[data-testid="stAlertContainer"]:has([data-testid="stAlertContentSuccess"]) {
	background-color: rgba(61, 213, 192, 0.2) !important;
   color: white !important;
}

div[data-testid="stAlertContainer"]:has([data-testid="stAlertContentInfo"]) {
	background-color: rgba(75, 196, 255, 0.31) !important;
   color: white !important;
}

/* Disclaimer style */

.disclaimer {
  font-size: 60% !important;
  font-style: italic;
  color: grey;
  text-align: center !important;
}

/* Styles for questions in forms and in containers */

.stForm {
   padding: 0px !important;
   border: 0px !important;
}

[class*="st-key-question-container-"]  {
  font-size: 90% !important;
  background-color: #0900268f !important;
  border: 2px solid #00cfffc4;
}

#essay-prompt {
  font-size: 80% !important;
}

#essay-index-prompt {
  font-size: 85% !important;
}

#essay-index-prompt p {
   margin-bottom: 0 !important;
}

[class*="st-key-essay-index-title"] h2, 
[class*="st-key-question-container-"] h2 {
  font-size: 100% !important;
  font-family: "Delius" !important;
}

[class*="st-key-essay-index-title"] h2 {
   text-align: right !important;
   padding-right: 2em;
}

[class*="st-key-essay-index-content"],
[class*="st-key-question-container-"] textarea {
  font-size: 100% !important;
  font-family: "Balsamiq sans" !important;
  background: var(--paper-color);
   /* margin: 2rem; */
   padding: calc(var(--top-space) - 0.5lh) 3rem 1rem 5.5rem;
   font-family: "Balsamiq sans" !important;
   font-size: 1.35rem !important;
   line-height: 1.6;
   color: var(--ink-color);
   background-image: 
      /* the red line */ linear-gradient(
      90deg,
      transparent,
      transparent 4rem,
      var(--side-line-color) 4rem,
      var(--side-line-color) 4.25rem,
      transparent 4.25rem
      ),
      /*  The top space  */
      linear-gradient(
         var(--paper-color),
         var(--paper-color) var(--top-space),
         transparent var(--top-space)
      ),
      /* the blue lines */
      repeating-linear-gradient(
         transparent,
         transparent calc(1lh - var(--line-thickness)),
         var(--main-line-color) calc(1lh - var(--line-thickness)),
         var(--main-line-color) 1lh,
         transparent 1lh
      );
   box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
}

[class*="st-key-essay-index-content"] {
   padding: calc(var(--top-space) - 0.5lh) 1rem 1rem 3rem !important;
}

[class*="st-key-essay-index-title"] {
   text-align: right !important;
}

[class*="st-key-essay-index-content"] p {
   margin: 1.5em !important;
}

[class*="st-key-question-container-"] .stTextArea label p {
  font-size: 120% !important;
  font-family: "Delius" !important;
  color: rgba(255, 255, 255, 0.774);
}

[data-baseweb="textarea"] {
	border-radius: 3px !important;
	box-shadow: -3px 4px 5px #0000005c;
}


[class*="st-key-question-container-"] [data-baseweb="base-input"] {
   background-color: rgba(0, 0, 0, 0.18);
}

[class*="st-key-question-container-"] p {
   font-size: 95% !important;
}

[class*="st-key-question-container-"] {
   border-radius: 15px !important;
   padding: 15px;
}

/* Button styles */

button {
  font-size: 100% !important;
}

.st-emotion-cache-1vwew83:disabled, .st-emotion-cache-1vwew83:disabled:hover, .st-emotion-cache-1vwew83:disabled:active {
   background-color: #04030b42 !important;
}

.st-emotion-cache-15g7z8s:hover {
  background-color: rgb(68, 77, 102);
}

.st-emotion-cache-1vwew83:disabled, .st-emotion-cache-1vwew83:disabled:hover, .st-emotion-cache-1vwew83:disabled:active {
	border-color: rgba(137, 154, 255, 0.56);
	background-color: transparent;
	color: rgba(255, 255, 255, 0.49);
	cursor: not-allowed;
}

/* "Press Enter to submit form" text */

.st-emotion-cache-0.eva3uk20 {
   font-size: 80% !important;
}

/* Input element styles */

input p {
  font-size: 80% !important;
}

.st-bw {
	color: rgb(245, 255, 196);
}

[kind="segmented_controlActive"] {
  font-size: 90% !important;
  background: rgb(52, 41, 107) !important;
  color-scheme: light !important;
}

[data-baseweb="select"] * {
  font-size: 95% !important;
}

[data-testid="stSelectboxVirtualDropdown"] * {
   font-size: 105% !important;
}

[data-testid="stSelectboxVirtualDropdown"] * {
   font-size: 85% !important;
}

[class*="st-key-question-container-"] [data-baseweb="button-group"] p {
   color:rgb(188, 244, 255) !important;
}

[class*="st-key-question-container-"] [data-baseweb="button-group"] [kind="segmented_control"] {
   background: rgba(16, 16, 28, 0.61);
}

/* Expander element styles */

.stExpander:hover summary {
   color: rgb(151, 154, 221);
}

.stExpander:hover svg {
   fill: rgb(151, 154, 221);
}

/* Chat element styles */
.stChatMessage * {
   font-size: 97% !important;
   font-family: "Delius" !important;
   text-align: justify;
}

[class*="st-key-response-container-"] {
   background-color: #5185ff73;
   border-radius: 20px;
   margin: 10px;
   box-shadow: -1px 1px 5px #7561ff;
   padding: 10px 50px 5px 10px;
}

[class*="st-key-response-index-container-"] {
   background-color: #1a005494;
   border-radius: 20px;
   margin: 10px;
   margin-top: 1px;
   box-shadow: -1px 1px 5px #7561ff;
   padding: 10px 50px 5px 10px;
}

[data-testid="stChatMessageAvatarAssistant"] {
   background-color: rgb(255, 254, 180);
}

.st-emotion-cache-18qnold {
   background-color: rgb(255, 176, 137);
}

/* Submit button styles */

.st-emotion-cache-1vwew83 {
   background-color: rgb(16, 0, 51);
}

.st-emotion-cache-1vwew83:hover {
	border-color: rgb(116, 255, 242);
	color: rgb(254, 238, 149);
}

.st-key-vocabulary-submit-button p {
   color: cyan !important;
}

/* Sidebar styles */

section[data-testid="stSidebar"] p,
section[data-testid="stSidebar"] h1,
section[data-testid="stSidebar"] h2,
section[data-testid="stSidebar"] st-emotion-cache-j7qwjs,
section[data-testid="stSidebar"] div {
   font-family: "Delius" !important;
   text-align: left !important;
}

section[data-testid="stSidebar"] h1 {
   text-decoration: underline !important;
}

/* Badge styles */
.is-badge {
   font-size: 90% !important;  /* Affects the text "ausloten" */
}

.is-badge span[role="img"] {
   font-size: 100% !important;  /* Affects the Material Symbols "start" icon */
}

[class*="st-key-stButtonGroup-container-mode"] {
   align-items: center !important;
}

/* Table styles */

td p {
   text-align: center !important;
   color: rgba(255, 255, 255, 0.979);
}

.col_heading p {
   text-align: center !important;
}

th p {
   color: rgba(117, 238, 251, 1);
}

.stTable * {
   font-size: 97% !important;
   font-family: "Delius" !important;
   border-color: #ffffff0a;
}

/* Heatmap chart styles */

.infolayer * {
   font-family: "Delius" !important;
   font-size: 90% !important;
   text-align: center !important;
}

[class*="st-key-heatmap-parent-container"] {
   border-radius: 15px !important;
   padding: 0 30px !important;
   background-color: #090026bf !important;
   border: 2px solid #00dbffe3;
}

.g-gtitle * {
   font-size: 110% !important;
}

/* Pie chart styles */
[class*="st-key-question-chart-"]  {
   font-size: 90% !important;
   background-color: #090026bf !important;
   border-radius: 15px !important;
   padding: 15px;
   border: 2px solid #00dbffe3;
}

.highcharts-data-labels .highcharts-series-0 .highcharts-variablepie-series .highcharts-tracker *,
.highcharts-data-labels *,
.highcharts-label *,
.highcharts-data-label *,
.highcharts-label text {
   font-family: "Delius" !important;
   font-size: 90% !important;
}

/* Bar chart styles */

[class*="st-key-chart-parent-container"] {
   border-radius: 15px !important;
   padding: 0 60px !important;
   background-color: #090026bf !important;
   border: 2px solid #00dbffe3;
}

[class*="st-key-chart-child-container"] {
   padding-top: 20px;
   max-width: 80%;
}

.stVegaLiteChart details {
   display: none;
}

/* Caption styles */

[data-testid="stCaptionContainer"] * {
   font-size: 90% !important;
   color: rgba(117, 238, 251, 1);
}

/* Paper texture style */

:root {
  --main-line-color: hsla(233.2, 100%, 31%, 0.23);
  --side-line-color: hsla(27, 49%, 57%, 0.151);
  --paper-color: hsla(233.5, 100%, 83.7%, 0.92);
  --ink-color: hsl(250.2, 100%, 53.9%);
  --line-thickness: 3px;
  --top-space: 0lh;
}

.notepad {
   box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
   border-radius: 0 0 10px 10px;
   overflow: hidden;
}

.top {
   width: 100%;
   height: 50px;
   background: #333;
   border-radius: 5px 5px 0 0;
}

.paper {
   width: 100%;
   height: 100%;
   padding: 35px 20px;
   background: repeating-linear-gradient(#f1ede9, #f1ede9 31px, #94acd4 31px, #94acd4 32px);
   font-family: "Delius" !important;
   line-height: 32px;
   outline: 0;
   color: black;
}

/* Tab styles */
[data-testid="stTab"]:focus {
   color: rgb(0, 40, 255);
}

[data-testid="stTab"]:hover {
   color: rgb(29, 255, 244);
}

/* Essay index styles */

[class*="st-key-essay-index-title"] span.is-badge {
   padding-top: 10px;
   margin-left: 1.5em;
}